<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wolfpackalpha.ajaysharvesh.techqpro1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_last_icon"
        android:label="TechNPro"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity.LoginActivity"
            android:label="Sign in" />
        <activity android:name=".RegistrationActivity.MainActivity" />
        <activity
            android:name=".RegistrationActivity.SignupActivity"
            android:label="@string/signup" />
        <activity
            android:name=".RegistrationActivity.ResetPasswordActivity"
            android:label="@string/reset" />
        <activity
            android:name=".RegistrationActivity.MainActivity2"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Functions.Topics"
            android:label="@string/topics1"
            android:parentActivityName=".RegistrationActivity.MainActivity2" />
        <activity android:name=".Functions.TopicList" />
        <!-- android:parentActivityName=".Functions.Topics" -->
        <activity
            android:name=".FeedbackActivity.Feedback"
            android:label="@string/feedback10"
            android:parentActivityName=".RegistrationActivity.MainActivity2" />
        <activity
            android:name=".RatingActivity.Rating"
            android:label="@string/rating10"
            android:parentActivityName=".RegistrationActivity.MainActivity2" />
        <activity
            android:name=".ProfileActivity.ProfileActivity"
            android:label="@string/profile10"
            android:parentActivityName=".RegistrationActivity.MainActivity2" />
        <activity
            android:name=".Lists.BasicSyntax"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.ObjectClass"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.DataTypes"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.VariableTypes"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Quries"
            android:parentActivityName=".RegistrationActivity.MainActivity2" />
        <activity
            android:name=".Lists.BasicOperators"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.LoopControls"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.DecisionMaking"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.Numbers"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.Strings"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.ArraysLists"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.DateAndTime"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.RegularExpression"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.Methods"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.FilesIo"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.ExceptionHandling"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.Inheritance"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.Overriding"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.Polymorphism"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.Encapsulation"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.Interfaces"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.PakagesP"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.DataStructures"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.CollectionsC"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.GenericsG"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.SerializationS"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.Networking"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.Emails"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.Multithreading"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.AppletBasics"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.Documentations"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.CgiPro"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.DatabaseAccessDB"
            android:parentActivityName=".Functions.Topics" />
        <activity
            android:name=".Lists.XmlProcessing"
            android:parentActivityName=".Functions.Topics" />
        <activity android:name=".ChatActivity1"></activity>
    </application>

</manifest>